
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100%;
    background: linear-gradient(45deg, rgb(216, 211, 211) , white); 
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 6%;

}
.logo{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: 800;
}
.nav a{
    display: inline;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5em;
    font-size: 1.3em;
    font-weight: 300;

}
.nav a:hover{
    color:  rgb(138, 146, 172);
}
.mainContainer{
    padding: 10% 0%;
    text-align: center;
    min-height: 100vh;
    position: absolute;
    z-index: 4;
    margin-left: 3%;
}
#hyLine{
    font-size: 3em;
    color: rgb(216, 211, 211);

}
#profession{
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}
#scrLine{
    font-size: 1.9em;
    color: rgb(216, 211, 211);
}
.iconsContainer{
    font-size: 2em;
    margin-top: 2%;

       
}
.iconsContainer a{
    margin-left: 0.2em;
    margin-right: 0.2em;
    display: inline-block;

}

#github{
    color: #ffffff;
}
#facebook{
    color: rgb(78, 78, 184);
}
#twitter{
    color: #1da1f2;
}
#github:hover{
    color:  rgb(138, 146, 172);
}
#facebook:hover{
    color:  rgb(138, 146, 172);
}
#twitter:hover{
    color:  rgb(138, 146, 172);
}

#btn1{
    margin-top: 7%;
    padding: 1.2% 1.8%;
    border-radius: 35px;
    background-color: rgb(255, 255, 255);
    color: rgb(19, 23, 37);
    font-size: 142%;
    font-weight: 700;
    border: 2.5px double rgb(216, 211, 211);
    
}
#btn1:hover{
    background-color:rgb(216, 211, 211); 
}

 #myVideo {
    position: fixed;
    min-width: 100%; 
    min-height: 100%;
    z-index: 0;
    background-repeat: repeat;
} 
#homeSection{
    margin-top: 6%;
}
.projectsSection{
    margin-top:17%;
    display: flex;
    justify-items: center;

}
.cardContainer{
    color: white;
    width: 40%;
    margin-left: 30%;
}
#projectsTitle{
    color: rgb(216, 211, 211);
    margin-bottom: 4%;
    padding-top: 200px;
    font-size: 250%;
}
#projectP{
    margin-bottom: 5%;
}
#projectsCardsContainer{
    
    display: grid;
    grid-template-columns: auto 2fr ;
    grid-gap: 20px
    
  
    
}
.card img{
    margin-top: 5%;
    border-radius: 10px;
    width: 350px;
    
}
.card img:hover{
    opacity: 0.85;
}
#Blogues{
    text-align: center;
    margin-top:17% ;

}
#blogueTitle{
    padding-top: 200px;
    font-size: 250%;
    color: rgb(216, 211, 211);
}
#blogueP{
    color: white;
    margin-top: 3%;
    margin-bottom: 4%;
}
.blougeCardTitle{
    color: black;
    padding-top: 20px;
    font-weight: 800;
    font-size: 155%;
}
.blogueCard{
    background-color:  rgb(255, 240, 240) ;
    padding-bottom: 30px;
    border-radius: 30px;
    transition: 1s ease;
}
.blogueCard:hover{
    scale: 1.2;
}
.blougesContainer{
    display: grid;
    -ms-grid-column-align: center;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-right: 50px;
    
}
.blougeImg{
    width: 200px;
    padding-top: 20px;
    

}
.blougeA{
    text-decoration: underline;
    color: rgb(197, 124, 22);
}
.blougeP{
    padding-top: 8px;
    color: black;
    padding-left: 8px;
}
#footer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    
    z-index: 100;
    display: flex;
    
    
    padding: 1% 6%;
    position: absolute;
    margin-top: 220%;
   
}
#blablaDiv{
    
    padding: 100px;
    text-align: center;
    
}
#footerP{
    color: rgb(0, 0, 0);
}
#gthub2{
    color: black;

}
.iconsFooterDiv{
    text-align: center;
    font-size: 27px;
    margin-bottom: 30px;
}
#gmail:hover{
    color:rgb(138, 146, 172) ;
}
.footerAnchor{
    margin-left: 0.7%;
    margin-right: 0.7%;
}
#footerP1{
    margin-top: 1%;
   
}